<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
    SecRuleRemoveById 400011
    SecRuleRemoveById 400012
    SecRuleRemoveById 200003
    SecRuleRemoveById 210492
</IfModule>

<IfModule mod_security2.c>
    SecRuleRemoveById 400011
    SecRuleRemoveById 400012
    SecRuleRemoveById 200003
    SecRuleRemoveById 210492
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Remove trailing slashes (so Apache doesn't redirect to /public/...)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Rewrite all other requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>